# Git
.git
.gitignore

# Node
node_modules
**/node_modules
npm-debug.log*
yarn-error.log

# Build artifacts
dist
**/dist
build
**/build
.next
out

# OS specific
.DS_Store
Thumbs.db

# Docker
docker-compose.yml
.dockerignore

# Environment / Config
.env*
!/.env.example

# Logs
*.log
logs/

# Ignore IDE and editor config files
.vscode
.idea
*.swp