# flyctl launch added from .gitignore
**/node_modules
out

**/.env
**/.env.production
**/concatenated-output.ts
**/embedding-cache.json
**/packages/plugin-buttplug/intiface-engine

**/.DS_Store

**/dist
# Allow models directory but ignore model files
**/models/*.gguf

**/cookies.json

**/db.sqlite
**/searches
**/tweets

**/*.gguf
**/*.onnx
**/*.wav
**/*.mp3

**/logs

**/test-report.json
**/content_cache
**/test_data
**/tokencache
**/tweetcache
**/twitter_cookies.json
**/timeline_cache.json

**/*.sqlite


**/packages/core/src/providers/cache
**/packages/core/src/providers/cache/*
**/cache/*
**/packages/plugin-coinbase/src/plugins/transactions.csv
**/packages/plugin-coinbase/package-lock.json

**/tsup.config.bundled_*.mjs

**/.turbo

# flyctl launch added from agent/.gitignore
agent/**/*.ts
!agent/**/index.ts
!agent/**/character.ts
agent/**/.env
agent/**/*.env
agent/**/.env*
agent/data
agent/generatedImages

# flyctl launch added from client/.gitignore
# Logs
client/**/logs
client/**/*.log
client/**/npm-debug.log*
client/**/yarn-debug.log*
client/**/yarn-error.log*
client/**/pnpm-debug.log*
client/**/lerna-debug.log*

client/**/node_modules
client/**/dist
client/**/dist-ssr
client/**/*.local

# Editor directories and files
client/**/.vscode/*
!client/**/.vscode/extensions.json
client/**/.idea
client/**/.DS_Store
client/**/*.suo
client/**/*.ntvs*
client/**/*.njsproj
client/**/*.sln
client/**/*.sw?

# flyctl launch added from docs/.gitignore
# Dependencies
docs/node_modules

# Production
docs/build

# Generated files
docs/**/.docusaurus
docs/**/.cache-loader

# Misc
docs/**/.DS_Store
docs/**/.env.local
docs/**/.env.development.local
docs/**/.env.test.local
docs/**/.env.production.local

docs/**/npm-debug.log*

# flyctl launch added from node_modules/bignumber/.gitignore
node_modules/bignumber/**/.project
node_modules/bignumber/**/.settings
node_modules/bignumber/**/node_modules

# flyctl launch added from node_modules/hogan.js/node_modules/mkdirp/.gitignore
node_modules/hogan.js/node_modules/mkdirp/**/node_modules
node_modules/hogan.js/node_modules/mkdirp/**/npm-debug.log

# flyctl launch added from node_modules/jayson/.gitignore
node_modules/jayson/node_modules
node_modules/jayson/**/.*
!node_modules/jayson/**/.gitignore
!node_modules/jayson/**/.travis.yml
!node_modules/jayson/**/.jshintrc
!node_modules/jayson/**/.npmignore
node_modules/jayson/coverage
node_modules/jayson/yarn-error.log

# flyctl launch added from node_modules/minipass-sized/.gitignore
# ignore most things, include some others
node_modules/minipass-sized/*
node_modules/minipass-sized/.*

!node_modules/minipass-sized/**/bin
!node_modules/minipass-sized/**/lib
!node_modules/minipass-sized/**/docs
!node_modules/minipass-sized/**/package.json
!node_modules/minipass-sized/**/package-lock.json
!node_modules/minipass-sized/**/README.md
!node_modules/minipass-sized/**/CONTRIBUTING.md
!node_modules/minipass-sized/**/LICENSE
!node_modules/minipass-sized/**/CHANGELOG.md
!node_modules/minipass-sized/**/example
!node_modules/minipass-sized/**/scripts
!node_modules/minipass-sized/**/tap-snapshots
!node_modules/minipass-sized/**/test
!node_modules/minipass-sized/**/.travis.yml
!node_modules/minipass-sized/**/.gitignore
!node_modules/minipass-sized/**/.gitattributes
!node_modules/minipass-sized/**/coverage-map.js
!node_modules/minipass-sized/**/index.js

# flyctl launch added from node_modules/promise-all-reject-late/.gitignore
# ignore most things, include some others
node_modules/promise-all-reject-late/*
node_modules/promise-all-reject-late/.*

!node_modules/promise-all-reject-late/**/bin
!node_modules/promise-all-reject-late/**/lib
!node_modules/promise-all-reject-late/**/docs
!node_modules/promise-all-reject-late/**/package.json
!node_modules/promise-all-reject-late/**/package-lock.json
!node_modules/promise-all-reject-late/**/README.md
!node_modules/promise-all-reject-late/**/CONTRIBUTING.md
!node_modules/promise-all-reject-late/**/LICENSE
!node_modules/promise-all-reject-late/**/CHANGELOG.md
!node_modules/promise-all-reject-late/**/example
!node_modules/promise-all-reject-late/**/scripts
!node_modules/promise-all-reject-late/**/tap-snapshots
!node_modules/promise-all-reject-late/**/test
!node_modules/promise-all-reject-late/**/.github
!node_modules/promise-all-reject-late/**/.travis.yml
!node_modules/promise-all-reject-late/**/.gitignore
!node_modules/promise-all-reject-late/**/.gitattributes
!node_modules/promise-all-reject-late/**/coverage-map.js
!node_modules/promise-all-reject-late/**/map.js
!node_modules/promise-all-reject-late/**/index.js

# flyctl launch added from node_modules/secp256k1/src/secp256k1/.gitignore
node_modules/secp256k1/src/secp256k1/**/bench_inv
node_modules/secp256k1/src/secp256k1/**/bench_ecdh
node_modules/secp256k1/src/secp256k1/**/bench_ecmult
node_modules/secp256k1/src/secp256k1/**/bench_sign
node_modules/secp256k1/src/secp256k1/**/bench_verify
node_modules/secp256k1/src/secp256k1/**/bench_schnorr_verify
node_modules/secp256k1/src/secp256k1/**/bench_recover
node_modules/secp256k1/src/secp256k1/**/bench_internal
node_modules/secp256k1/src/secp256k1/**/tests
node_modules/secp256k1/src/secp256k1/**/exhaustive_tests
node_modules/secp256k1/src/secp256k1/**/gen_context
node_modules/secp256k1/src/secp256k1/**/*.exe
node_modules/secp256k1/src/secp256k1/**/*.so
node_modules/secp256k1/src/secp256k1/**/*.a
!node_modules/secp256k1/src/secp256k1/**/.gitignore

node_modules/secp256k1/src/secp256k1/**/Makefile
node_modules/secp256k1/src/secp256k1/**/configure
node_modules/secp256k1/src/secp256k1/**/.libs
node_modules/secp256k1/src/secp256k1/**/Makefile.in
node_modules/secp256k1/src/secp256k1/**/aclocal.m4
node_modules/secp256k1/src/secp256k1/**/autom4te.cache
node_modules/secp256k1/src/secp256k1/**/config.log
node_modules/secp256k1/src/secp256k1/**/config.status
node_modules/secp256k1/src/secp256k1/**/*.tar.gz
node_modules/secp256k1/src/secp256k1/**/*.la
node_modules/secp256k1/src/secp256k1/**/libtool
node_modules/secp256k1/src/secp256k1/**/.deps
node_modules/secp256k1/src/secp256k1/**/.dirstamp
node_modules/secp256k1/src/secp256k1/**/*.lo
node_modules/secp256k1/src/secp256k1/**/*.o
node_modules/secp256k1/src/secp256k1/**/*~
node_modules/secp256k1/src/secp256k1/**/src/libsecp256k1-config.h
node_modules/secp256k1/src/secp256k1/**/src/libsecp256k1-config.h.in
node_modules/secp256k1/src/secp256k1/**/src/ecmult_static_context.h
node_modules/secp256k1/src/secp256k1/**/build-aux/config.guess
node_modules/secp256k1/src/secp256k1/**/build-aux/config.sub
node_modules/secp256k1/src/secp256k1/**/build-aux/depcomp
node_modules/secp256k1/src/secp256k1/**/build-aux/install-sh
node_modules/secp256k1/src/secp256k1/**/build-aux/ltmain.sh
node_modules/secp256k1/src/secp256k1/**/build-aux/m4/libtool.m4
node_modules/secp256k1/src/secp256k1/**/build-aux/m4/lt~obsolete.m4
node_modules/secp256k1/src/secp256k1/**/build-aux/m4/ltoptions.m4
node_modules/secp256k1/src/secp256k1/**/build-aux/m4/ltsugar.m4
node_modules/secp256k1/src/secp256k1/**/build-aux/m4/ltversion.m4
node_modules/secp256k1/src/secp256k1/**/build-aux/missing
node_modules/secp256k1/src/secp256k1/**/build-aux/compile
node_modules/secp256k1/src/secp256k1/**/build-aux/test-driver
node_modules/secp256k1/src/secp256k1/**/src/stamp-h1
node_modules/secp256k1/src/secp256k1/**/libsecp256k1.pc

# flyctl launch added from node_modules/tailwindcss/stubs/.gitignore
!node_modules/tailwindcss/stubs/**/*

# flyctl launch added from packages/core/.gitignore
packages/core/**/node_modules
packages/core/**/dist
packages/core/**/elizaConfig.yaml
packages/core/**/custom_actions
packages/core/**/cache
fly.toml
